* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.xlsx binary
*.xls binary
*.docx binary
*.pptx binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
